.categoryBox {
    display: flex;
    flex-direction: column;
}

.categoryBox button {
    border: none;
    text-align: start;
    background-color: #FFF;
    margin: 5px 0;
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: "#8A8A8A" !important;
    text-transform: capitalize;
}

h4 {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.active {
    color: red;
}

@media screen and (max-width: 1400px) {
    .categoryMain {
        text-align: center;
    }

    .categoryBox {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
}